{% extends 'core/core.html'%}

{%block title %} {{room.name}} | {%endblock%}
{%block content %}
<div>
    <h1 class="title">{{room.name}}</h1>
</div>
<div class="test">
    <div class="chat-box">
        <div class="chat-messages" id="chat-messages">
            <p>Username</p>
            <p>Message</p>
        </div>
    </div>
</div>
<div>
    <form method="post" action="." class="forms">
        <input type="text" name="content" class="#msg" placeholder="🦦.", id="chat-message-input">
        <button class="submit", id="chat-message-submit"> Send
        </button>
    </form>
</div>
{%endblock%}

{% block js_block %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    <div id='room-name'>{{room.slug|json_script:"json-roomname"}}</div>
    <div id='user-name'> {{ request.user.username|json_script:"json-username" }}</div>
    {% load static %}
        <script type="text/javascript" src="{% static 'javascript/main.js' %}"> </script>
{%endblock%}