<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widthh, initial-scale=1">
        <title>CHAT APP!!!</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'core.css' %}"/>
    </head>
    <body class="ok">
        W app imo 
        go into chat-app
        then 
        source chatApp_env/bin/activate
        then 
        cd chatApp
        then
        python3 manage.py runserver
    </body>
</html>