.ok{
  background-color: #a799b7;
  color: #fdf4dc;
}
.topnav {
  background-color: #533a71;
}
input[type=text] {
  background-color: #533a71;
  color: #fdf4dc;
  border-radius: 20px;
  border: #a799b7;
}
input[type=password] {
  background-color: #533a71;
  color: #fdf4dc;
  border-radius: 20px;
  border: #a799b7;
}
.title{
  display: flex;
  justify-content: center;
  text-align: center;
}
.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.topnav a {
  float: left;
  padding: 16px 16px;
  text-decoration: none;
  background-color: #533a71;
  color: #fdf4dc;
  border-radius: 1000px;
}
.topnav a:hover {
  color: black;
  text-decoration: none;
}
.btns-right {
  float: right;
}
.submit{
  background-color: #533a71;
  border: none;
  color: #fdf4dc;
  border-radius: 1000px;
  height: 5vh;
  width: 10vw ;
}
.room-box{
  display: inline-block;
  border-radius: 1000px;
  background-color:#533a71;
  height: 15vh;
  width: 30vw;
  text-align: center;
}
.room-selections a {
    
  padding: 5px 5px;
  text-decoration: none;
  background-color: #a799b7;
  color: #fdf4dc;
  border-radius: 1000px;
  width: 2vw;
}
.room-selections a:hover {
  color: black;
  text-decoration: none;
}
.chat-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 50vh;
  overflow-y: scroll;
}
.chat-box{
  border-radius: 100px;
  background-color:#533a71;
  height: 100px;
  width: 90vw;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.chat-messages{
  text-align: center;
}
.msg{
  height: 5vh;
  width: 90vw;
}
.msg + .submit{
  margin-top: 1vh;
}
.send-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 20vh;
}
.chat-box + .send-btn{
  margin-top: 10vh;
}
.topnav.show{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.menu{
  display: none;
}
.menu:focus{
  outline: 0;
}



@media only screen and (max-width: 1000px){
.topnav{
    display: none;
    background-color: transparent;
}
.menu{
    display: block;
    background-color: #a799b7;
    height: 50px;
    width: 100px;
    color: #533a71;
}
.menu:hover{
    color: #fdf4dc;
}
.submit{
  width: 25vw;
}
nav{
  margin-top: 50px;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
}

}